{% extends "layout.html" %} {% block head%} {% endblock %} {% block content%}
<div id="main-container">
  <div>
    <h3>Pull</h3>
    <form id="pull">
      <label for="pull-address">Address</label>
      <select value="" name="pull-address" id="pull-address">
	    {% for address in addresses %}
	    <option>{{address}}</option>
	      {% endfor %}
      </select>
      <label for="pull-vol">Volume</label>
      <input type="text" value="" name="pull-vol" id="pull-vol" />
      <label for="pull-rate">Pump Rate (mL/min)</label>
      <input type="text" value="" name="pull-rate" id="pull-rate" />
      <button class="execute" type="button">Submit</button>
    </form>
  </div>
  <div>
    <h3>Push</h3>
    <form id="push">
      <label for="push-address">Address</label>
      <select value="" name="push-address" id="push-address">
	    {% for address in addresses %}
	    <option>{{address}}</option>
	      {% endfor %}
      </select>
      <label for="push-vol">Volume</label>
      <input type="text" value="" name="push-vol" id="push-vol" />
      <label for="push-rate">Pump Rate (mL/min)</label>
      <input type="text" value="" name="push-rate" id="push-rate" />
      <button class="execute" type="button">Submit</button>
    </form>
  </div>
</div>
<div style="display:flex;justify-content: center">
  <button style="width:30%;margin-top:4em" type="button" onclick="fetch('/stop')">STOP</button>
</div>
<style>
  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>
{% endblock %} {% block scripts %}
<script>
  const pull_btn = document.querySelector("form#pull>button");
  pull_btn.addEventListener("click", () => {
    let vol = document.getElementById("pull-vol").value;
    let rate = document.getElementById("pull-rate").value;
    let addr = document.getElementById("pull-address").value;
    let args = [addr, vol, rate];
    pull(args).then(() => {
      display("pull completed");
    });
  });
  const push_btn = document.querySelector("form#push>button");
  push_btn.addEventListener("click", () => {
    let vol = document.getElementById("push-vol").value;
    let rate = document.getElementById("push-rate").value;
    let addr = document.getElementById("push-address").value;
    let args = [addr, vol, rate];
    push(args).then(() => {
      display("push completed");
    });
  });

  enforceCharset("pull-vol", digits + ".");
  enforceCharset("push-vol", digits + ".");
  enforceCharset("pull-rate", digits + ".");
  enforceCharset("push-rate", digits + ".");
  enforceCharset("pull-address", digits);
  enforceCharset("push-address", digits);

  enforceLength("pull-address", 2);
  enforceLength("push-address", 2);
</script>
{% endblock%}
