<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css">
    <title>NE-1000 Interface</title>
  </head>
  <body class="container-fluid"> 
      <div class="content" >
        {% block content %} {% endblock %}
      </div>
      <div class="response-container" id="response-container"></div>

    <script src="/static/javascript/confirm_ranges.js"></script>
    <script src="/static/javascript/fetches.js"></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
